body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.fullWidth {width: 100%;}
.contentCont {padding-top: 15px; padding-bottom: 15px;}
tr:nth-child(odd) {
  background: #CCC
}

tr:nth-child(even) {
  background: #FFF
}
#dinoDropdown{text-transform: capitalize;}
.mainContent {margin-left: 10%; margin-right: 10%; max-width: 100%;}
#statsTable {max-width: 100%;}

#statsTable, th, td {
   border: 1px solid black;
}
#statsTable thead {   text-align: center;}

#statsTable td>input {text-align: right; }